*,
*:before,
*:after {
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    z-index: 1;
    font-family: var(--p);
    font-size: var(--psize);
    font-weight: 300;
    line-height: 1;
    background-color: var(--brown);
}
li{
    list-style-type: none;
}
a{
    color: var(--black);
    text-decoration: none;
}

h1{
    font-family: var(--h1);
    font-size: var(--h1size);
    font-weight: 600;
    letter-spacing: var(--h1ls);
}
h2{
    font-family: var(--h1);
    font-size: var(--h2size);
    font-weight: 400;
    letter-spacing: var(--h2ls);
}
h3{
    font-family: var(--p);
    font-size: var(--h2size);
    font-weight: 300;
    letter-spacing: var(--h3ls);
}


button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

em{
    font-style: italic;
}

strong{
    font-weight: 500;
}