img {
    height: auto;
    max-width: 100%;

    filter: grayscale(1);
}

.backdrop{
    z-index: 1;
    position: absolute;
    left: 0;
    height: 100vh;
    width: auto;
    top: 64px;
}

.backdrop__img{
    object-fit: cover;
}

.multiply{
    mix-blend-mode: multiply;
}