img {
    position: relative;
    height: auto;
    max-width: 100%;

    filter: grayscale(1);
}

.backdrop{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
}

.backdrop__img{
    object-fit: cover;
}

.multiply{
    mix-blend-mode: multiply;
}