.card__btn{
    font-family: var(--btn);
    font-size: var(--btnsize);
    font-weight: 700;
    letter-spacing: var(--h3ls);
    text-transform: uppercase;
    color: var(--white);

    justify-self: end;
    align-self: flex-end;
    padding-right: var(--space1x);
}



.tarifs__btn{
    font-family: var(--btn);
    font-size: var(--btnsize);
    font-weight: 700;
    letter-spacing: var(--h3ls);
    text-transform: uppercase;
    color: var(--white);

    position: relative;
    height: 56px;
    padding: var(--space2x);
    justify-self: end;
    align-self: flex-end;
}
.tarifs__btn::before{
    content: "";
    z-index: -1;
    
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    top: -14px;
    left: 0px;
    border: 2px solid var(--gray-dark);
    transition: all .2s ease-out;
}
.tarifs__btn:active::before{
    border-radius: 8px;
    opacity: 0;
}


.frise__btn{   
    font-family: var(--btn);
    font-size: var(--btnsize);
    font-weight: 300;
    letter-spacing: var(--h3ls);
    text-transform: uppercase;
    color: var(--black);

    position: relative;
    height: 56px;
    padding: var(--space2x);
    margin-top: var(--space3x);
    justify-self: end;
    align-self: flex-end;

    transform-style: preserve-3d;
}
.frise__btn::before{
    content: "";
    transform: translateZ(-1px);
    
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    top: -14px;
    left: 0px;
    border: 2px solid var(--gray);
    transition: all .2s ease-out;
}
.frise__btn:active::before{
    border: 8px solid var(--gray-light);
}

.footer__btn{
    font-family: var(--btn);
    font-size: var(--btnsize);
    font-weight: 300;
    letter-spacing: var(--h3ls);
    text-transform: uppercase;
    color: var(--black);

    position: relative;
    height: 56px;
    padding: var(--space2x);
    justify-self: end;
    align-self: flex-end;

    transform-style: preserve-3d;
}
.footer__btn::before{
    content: "";
    transform: translateZ(-1px);
    
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    top: -14px;
    left: 0px;
    border: 2px solid var(--gray);
    transition: all .2s ease-out;
}
.footer__btn:active::before{
    border: 8px solid var(--gray-light);
}