.caroussel {
    display: flex;
    width: 100%;
}
.carrousel__img{
    width: 100%;
    flex: none;
}


.caroussel__links{
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 32px;
}
.caroussel__indic{
    display: block;
    background-color: var(--white);
    height: 32px;
    width: 32px;
}