.footer{
    background-color: var(--gray-light);
    position: relative;
    bottom: 0;
    left: 0;
}

.footer__form-title{
    font-family: var(--p);
    font-size: var(--h2size);
    letter-spacing: var(--h3ls);
    font-weight: 300;
    padding: 16px;
    margin: 0;
    background-color: var(--white);
}

.footer__form{
    display: flex;
    position: relative;
    top: var(--space2x);
    left: var(--space4x);
}

.footer__form-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81px;
}

.form__example{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: var(--gray-dark);
    line-height: 80%;
    height: 86px;
}

.form__example-item{
    height: 15px;
}
