.tarifs{
    position: relative;
    display: flex;
    flex-direction: column;

    margin: var(--space4x) auto var(--space3x);
    color: var(--white);
}

.tarifs__title{
    text-align: center;
    padding-bottom: 24px;
}
.tarifs__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tarifs__names,
.tarifs__prices{
    position: relative;
    width: 177px;
    padding-left: var(--space3x);
    line-height: var(--bodyheight);
}
.tarifs__prices{
    font-weight: 400;
}

.tarifs__item{
    height: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}
.tarifs__item:last-child{
    height: 26px;
}
.tarifs__item:last-child:hover{
    height: 28px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.tarifs__item--unfolded{
    overflow: visible;
    margin-bottom: 117px;
}